body {
    
    background-color: #CCCCCC;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

input {
    
    display: flex;

    justify-content: center;

    align-items: center;
    
    margin-left: auto;

    margin-right: auto;

    width: 400px;

    padding: 7px;

    border-radius: 5px;

    box-shadow: 0 0 0 0;

    outline: 0;

    border: 0 none;

    margin-top: 22px;
    
}

.negrito {
    font-weight: bold;
    font-size: 14px;
}

button {
    padding: 12px;

    background-color: #1E0C21;
    
    color: white;

    margin-top: 10px;

    width: 60%;

    margin-left: auto;

    margin-right: auto;

    cursor: pointer;

    border-radius: 5px;

    outline: 0;

    border: 0 none;

    font-size: 15px;
}

.container {
   
    width: 695px;
    
    border-radius: 0.5rem;

    background-image: linear-gradient(
        to bottom, #1E0C21, #641F70
    );  

    align-items: center;
    
    display: flex;

    flex-direction: column;

    justify-content: center;

    margin: auto;
}

.display-flex {

    display: flex;

    flex-direction: column;

    background-image: linear-gradient(
        to bottom, #641F70, #1E0C21
    );

    width: 90%;
    border-radius: 10px;

    margin-bottom: 35px;
}

.header {
    
    color: #FECD23;

    font-weight:550;
    font-size: 25px;

    padding: 15px;

    text-align: center;

}

.header-subtitle {
    
    color: white;

    font-size: 16px;
    font-weight: 200;  

    text-align: center;

    margin-bottom: 30px;
}

.subtitle-1 {
   
    padding: 10px;
}

.subtitle-3 {
   
    padding: 10px;
}

.vote {

    color: white;

    text-align: center;
    
    font-size: 25px;

    justify-content: center;

    padding: 15px;
;
}

.final {

    display: flex;

    text-align: center;

    color: white;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.sports {

    padding: 5px;

    background-image: linear-gradient(to bottom, #3D5EEF, #72CDFE);

    display: flex;

    flex-direction: column;

    font-size: 25px;

    margin-top: 5px;

}
.simulation{

    padding: 5px;

    background-image: linear-gradient(to bottom, #3D5EEF, #72CDFE);

    display: flex;

    flex-direction: column;

    font-size: 25px;

    margin-top: 5px;
} 

.estrategy {
    padding: 5px;

    background-image: linear-gradient(to bottom, #3D5EEF, #72CDFE);

    display: flex;

    flex-direction: column;

    font-size: 25px;

    margin-top: 5px;
}

.enquete-1 {
    
    width: 150px;

    border-radius: 5px;

    padding: 10px;

    background-image: linear-gradient(to bottom, #2637DB, #342988);

    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.enquete-2 {
    
    width: 150px;

    border-radius: 5px;

    padding: 10px;

    background-image: linear-gradient(to bottom, #2637DB, #342988);

    margin:auto;
    margin-top: 10px;
}

.enquete-3 {
    
    width: 150px;

    border-radius: 5px;

    padding: 10px;

    background-image: linear-gradient(to bottom, #2637DB, #342988);

    margin: auto;
    margin-top: 10px;
}